@import "../../styles/_common";

.modalBackDrop {
	position: absolute;
	letter-spacing: 0.5px;
	background-color: rgba(17, 17, 17, 0.8392156862745098);
	width: 100vw;
	height: 100vh;
	word-spacing: 3px;
	z-index: -5;
	/* links */
	a {
		text-decoration: none;
		font-weight: normal;
		color: rgba(51, 123, 246, 0.59);
	}

	a:hover {
		color: #337bf6;
	}

	* {
		box-sizing: border-box;
	}

	.form {
		width: 60%;
		top: 5%;
		margin: auto;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		outline: 0;
		z-index: 1000;
		li {
			padding: 8px;
		}
		.content{
			max-height: 82vh;
    		overflow: auto;
		}

		.dropDownList {
			width: 94%;
			position: absolute;
			top: 100%;
			left: 15px;
			z-index: 1000;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			li:hover{
				color: #ffffff;
				background-color: #000000;
			}
		}

		sup {
			color: #205081;
		}

		.form-check {
			padding-left: 12px;

			.form-check-label {
				font-size: 12px;
				color:rgba(120, 120, 120, 0.74);
			}

			.form-check-input {
				font-size: 12px;
			}
			.notChecked{
				outline: 1px solid $qzt_red;
			}

			input[type="checkbox"] {
				margin-top: 3px;
		    width: auto!important;
		    border-radius: unset;
			}

			a {
				font-size: 11px;
			}
		}

		.legends {
			width: 97%;
			text-align: right;
			font-weight: 100;
			font-size: 13px;
			padding-bottom: 7px;
		}

		.downArrow, .success, .error {
			float: right;
			position: relative;
			z-index: 2;
			margin-right: 30px;
			font-size: 26px;
			margin-top: -41px;
		}
		.success, .error{
			height: 31px;
			margin-right: 18px;
		}
		.error{
			height: 41px;
			margin-right: 19px;
			margin-top: -44px;
		}


		.formWrapper {
			padding: 1em;
			.fullWidth {
				width: 100%;
				display: inline-flex;
			}
			.closeBtn {
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				width: 100%;
				.closeImg {
					width: 20pt;
    				height: 20pt;
				}
			}

			.networkApplyForm {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
}
