@import "../../styles/_common";

.modalBackDrop {
	position: absolute;
	letter-spacing: 0.5px;
	background-color: rgba(51,51,51,0.59);
	width: 100vw;
	height: 100vh;
	word-spacing: 3px;
	/* links */
	a {
		text-decoration: none;
		font-weight: normal;
		color: rgba(51, 123, 246, 0.59);
	}

	a:hover {
		color: #337bf6;
	}

	* {
		box-sizing: border-box;
	}

	.form {
		width: 60%;
		top: 5%;
		margin: auto;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		outline: 0;
		li {
			padding: 8px;
		}
		.content{
			max-height: 82vh;
    		overflow: auto;
		}

		.dropDownList {
			width: 94%;
			position: absolute;
			top: 100%;
			left: 15px;
			z-index: 1000;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			li:hover{
				color: #ffffff;
				background-color: #000000;
			}
		}

		sup {
			color: #205081;
		}

		.form-check {
			padding-left: 12px;

			.form-check-label {
				font-size: 12px;
				color:rgba(120, 120, 120, 0.74);
			}

			.form-check-input {
				font-size: 12px;
			}
			.notChecked{
				outline: 1px solid $qzt_red;
			}

			input[type="checkbox"] {
				margin-top: 3px;
		    width: auto!important;
		    border-radius: unset;
			}

			a {
				font-size: 11px;
			}
		}

		.legends {
			width: 97%;
			text-align: right;
			font-weight: 100;
			font-size: 13px;
			padding-bottom: 7px;
		}

		.downArrow, .success, .error {
			float: right;
			position: relative;
			z-index: 2;
			margin-right: 30px;
			font-size: 26px;
			margin-top: -41px;
		}
		.success, .error{
			height: 31px;
			margin-right: 18px;
		}
		.error{
			height: 41px;
			margin-right: 19px;
			margin-top: -44px;
		}


		.formWrapper {
			padding: 1em;

			.fullWidth {
				width: 100%;
				display: inline-flex;
			}

			.section {}

			.closeBtn {
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				width: 100%;

				.closeImg {
					width: 20pt;
    			height: 20pt;
				}
			}

			h3 {
				font-family: 'Avenir', sans-serif;
				font-weight: normal;
				color: #484848;
				display: block;
			}

			.networkApplyForm {
				width: 70%;
				margin: 0 auto;

				.field {
					position: relative;
					margin-bottom: 10px;
				}

				input:focus {
					outline: none;
					border: 1px solid #000;
				}
				/* active state */
				input:focus ~ field-label {
					top: 18%;
					font-size: 10px;
					color: #A5A4A5;
				}

				.noErrorField {
					color: #555;
					font-size: 18px;
					padding: 24px 10px 2px 4.5%;
					display: block;
					width: 100%;
					border: 1px solid #e3e3e3;
					border-bottom: 1px solid #e3e3e3;
					background: #f5f5f5;
				}

				input.errorField:focus{
					border: 1px solid $qzt_red;
				}

				.errorField{
					border: 1px solid $qzt_red;
				}


				field-label {
					color: #787878;
					font-size: 13px;
					/*padding:0px 0px 0px 2%;*/
					font-weight: 100;
					position: absolute;
					pointer-events: none;
					left: 7.5%;
					top: 18%;
					transition: 0.2s ease-in-out all;
					-moz-transition: 0.2s ease-in-out all;
					-webkit-transition: 0.2s ease-in-out all;
				}

				.sign-in {
					padding: 12px 10px 2px 0;
					display: block;
					width: 400px;
					color: hsla(0,0%,47%,.74);
					font-size: 13px;
					font-weight: normal;
					pointer-events: none;
					transition: 0.2s ease all;
					-moz-transition: 0.2s ease all;
					-webkit-transition: 0.2s ease all;
				}

				.submitBtn{
					padding: 5px 15px;
					text-align: center;
					letter-spacing: 0.5px;
					width: 60%;
					min-width: 300px;
					height: 40px;
					border: 0;
					outline: none;
					cursor: pointer;
					color: #DADADA;
					font-size: 13px;
					margin: 0 auto;
				}
				.DisableBtn{
					background: rgb(179,179,179);
				}
				.EnableBtn{
					background: rgb(3, 3, 3);
				}
			}
		}
	}
}
