@import "../../styles/_common";
.getStarted {
    color: #fff;
    width: 28% !important;
    font-size: 18px;
    height: 58px;
    border-radius: 4px;
    margin: 15px;	
}
.QRZT_BasicModal .ModalWrap .MainContent{
	field-label{
		left:23%;
		@include respond(medium) {
			left: 7.5%;
		}
		@include respond(small) {
			left: 7.5%;
		}
	}	
}

.addProfilebg {
	.MainContent .drp-down field-label{
		left: 14.5%!important;
	}
	.MainContent .drp-down .noErrorField{
		padding: 24px 10px 2px 10.5%;
	}
	.clearboth{
		clear:both;
	}
	.field-txt{
		float: left;
	}
	.MainContent.space-txt {
		margin-bottom:10px;
	}
	.MainContent.space-txt textarea{
		margin-top: 20px;
	}
	.addMore{
		padding: 15px 0;
    	margin: 0;
	}
	.drp-btn{
	    float: right;
		position: relative;
		z-index: 2;
		margin-right: 30px;
		font-size: 26px;
		margin-top: -41px;
		color: #000;
	}
	.previous{
		background-color: #c2c3c2;
		color: #fff;
		width: 100%;
		font-size: 18px;
		height: 58px;
		border-radius: 4px;
	}
	.previous:hover{
		background-color: #0091f8;
		color: #fff;
		width: 100%;
		font-size: 18px;
		height: 58px;
		border-radius: 4px;
	}
	.next{
		background-color: #0091f8;
		color: #fff;
		width: 100%;
		font-size: 18px;
		height: 58px;
		border-radius: 4px;
	}
	.next.hover{
		background-color: #c2c3c2;
		color: #fff;
		width: 100%;
		font-size: 18px;
		height: 58px;
		border-radius: 4px;
	}
	.spanClass{
		padding-left:15px;
	}
	textarea .txt-area{
		resize: none;
		height: 20vh;
		padding: 35px 10px 2px 4.5%!important;
	}
	.txtpadd{
		margin:10px 0;
	}
	.noErrorField {
		color: #555;
		font-size: 18px;
		padding: 24px 10px 2px 4.5%;
		display: block;
		width: 100%;
		border: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		background: #f5f5f5;
	}
	.scrollbar {
		background-color: #F5F5F5;
		float: left;
		height: 300px;
		margin-bottom: 25px;
		margin-left: 22px;
		margin-top: 40px;
		width: 65px;
		overflow-y: scroll;
	}
}