@import "../../styles/_common";

.VZ_BasicModal {
  background-color: hsla(0,0%,7%,.839216);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  transform: translate3d(0, 0, 20px);
  /* Fix for iOS & Safari */
  

  .ModalWrap {
    position: relative;
    width: 50%;
    box-shadow: 0 0 5px 0;
    background: #f4f5f5;
    z-index: 9999;
    bottom: 10%;
    @include respond(medium) {
      width: 60%;
    }
    @include respond(small) {
      border-radius: 0;
      box-shadow: none;
      width: 100%;
    }
    .form-check{
      display: inline-block;
      padding: 1%;
      .form-check-label{
        color: rgba(51,123,246,.59);
        font-size: 13px;
      }
      .form-check-input{
        margin-top: 2px;
      }
    }
    .submitBtn{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .MainContent {
      padding: 5%;
      h1{
        font-size: 18pt;
        padding: 25px;
        padding-bottom: 0;
        padding-top: 0;
      }
      p {
        display: block;
        font-size: 12pt;
        text-align: justify;
        margin: auto;
        padding: 30px;
        padding-top: 0;
        @include respond(small) {
          margin-left: 5em;
        }
      }
    }
    .closeBtn {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      padding: 3%;
      padding-bottom: 0;
      .closeImg {
        width: 20pt;
        height: 20pt;
      }
    }
  }
}
