@import "../../styles/_common";
.ModalWrap{
    width: 81% !important;
}
h1{
    text-align: left;
    font-size: 26px;
}
.MainContent{
    p{
        padding: 0px !important;
    }
}
.field{
    padding: 0;
}
field-label{
    left: 2.5%;
}
.noErrorField{
    padding-left: 2.5%;
}
.Heading {
    text-align: center !important;
    width: 70% !important;
    margin: auto !important;
    font-size: 16px !important;
}
h3{
    font-size: 24px;
    color:#000;
}
.next {
    margin-left: 25px;
}
.cateGory {
    height: auto;
    float: left;
    width: auto;
    height: 7vh;
    padding: 10px;
    padding-top: 14px;
    cursor: pointer;
    .cartBorder{
        border-bottom: 3px solid #000;
        color: #000;
    }
    .catSelected{
        color: #000;
        border-bottom: 3px solid #0091f8;
    }
}
.cateGory:hover{
    h3{
        border-bottom: 3px solid #000;
        color: #000;
    }
}
.AllCateGory {
    max-height: auto;
    padding-bottom: 2%;
    .wrapper{
        height: auto;
        overflow: auto;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .subCateGory {
        height: auto;
        .flexFlow {
            width: 100%;
            float: left;
            display: block !important;
        }
        .subWrapper{
            widows: 100%;
            .subCategory {
                height: 93px;
                width: 22%;
                margin: auto;
                background: #ccc;
                margin-right: 10px;
                margin-left: 16px;
                float: left;
                margin-bottom: 5px;
                color: #000;
                text-align: center;
                padding: 4%;
            }
            .selected{
                background-color: #0091f8;
                color: #fff;
            }
        }
    }  
}