/*BASE*/
$qzt_red: #cd040b;
$qzt_darkred_alt: rgba(195, 22, 30, 0.95);
$qzt_blk: #000;
$qzt_wht: #fff;

/*GREYS*/
$qzt_grey_entry:	rgb(75, 101, 128);
$qzt_grey_dark:		#333; /*DEFAULT TXT COLOR*/
$qzt_grey:			#4b4b4b;
$qzt_grey_medium:	#666;
$qzt_grey_light:	#959595;
$qzt_grey_lighter:	#ccc;
$qzt_offwhite:		#eee;
$qzt_grayblue:		#edf3f6;

/*SECONDARIES*/
$qzt_teal_dark:		#1f513b;
$qzt_teal_medium:	#43ad7d;
$qzt_teal:			#82ceac;
$qzt_sky:			#ABE0F9;
$qzt_gold:			#f8d362;
$qzt_salmon:		#f9b295;

/*FADED SECONDARIES*/
$qzt_green:			#e9f8e9;
$qzt_blue:			#e8f6fe;
$qzt_yellow:		#feffe4;
$qzt_orange:		#fef0e8;

/*LINKS*/
$qzt_link:			#0067C8;
$qzt_link_active:	#00488B;

/*SHADOW*/
$qzt_shadow_right:	1px 1px 9px -5px rgba(0,0,0,.75);
$qzt_shadow_left:	0px 0px 15px -4px #666;
