@import "../../styles/_common";
.QRZT_BasicModal {
    background-color: #ddd;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 86vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    transform: translate3d(0, 0, 20px);
    font-family: 'Avenir', sans-serif;
    color: #484848;
    /* Fix for iOS & Safari */
    .MainContent {
        width: 540px;
        margin: auto;
        p {
            font-family: 'Avenir', sans-serif;
            display: block;
            font-size: 18px;
            font-weight: 100;
            text-align: center;
            margin: auto;
            padding: 30px;
            @include respond(small) {
            margin-left: 5em;
            }
        }
    }
    h2{
        font-weight: 100;
        padding-top: 40px;
        margin-bottom: 0;
    }
    .passWordValidation{
        color: $qzt_red;
        font-size: 12px;
        margin-bottom: 7px;
    }

    .downArrow, .success, .error {
        float: right;
        position: relative;
        z-index: 2;
        margin-right: 30px;
        font-size: 26px;
        margin-top: -41px;
    }
    .success, .error{
        height: 31px;
        margin-right: 18px!important;
    }
    .error{
        height: 41px;
        margin-top: -44px;
    }
  
    .ModalWrap {
        position: relative;
        width: 70%;
        height: 65vh;
        background: #fff;
      @include respond(medium) {
        width: 60%;
      }
      @include respond(small) {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
      }
      .strpeEle{
        width: 60%;
        margin: auto;
      }
      .wEmail{

      }
      .email{
        font-size: 11px;
        font-weight: 800;
        margin-bottom: 0;
      }
      .field {
        position: relative;
        width: 60%;
        margin-bottom: 10px;
        margin: auto;
    }
    .legends {
        width: 97%;
        text-align: right;
        font-weight: 100;
        font-size: 13px;
        padding-bottom: 7px;
        font-style: italic;
        color:rgba(134, 142, 150, 0.7411764705882353);
    }
    input:focus {
        outline: none;
        border: 1px solid #000;
    }
    /* active state */
    input:focus ~ field-label {
        top: 18%;
        font-size: 10px;
        color: #A5A4A5;
    }
        .noErrorField {
            color: #555;
            font-size: 18px;
            padding: 24px 10px 2px 4.5%;
            display: block;
            width: 100%;
            border: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            background: #f5f5f5;
        }

        input.errorField:focus{
            border: 1px solid $qzt_red;
        }

        .errorField{
            border: 1px solid $qzt_red;
        }

        field-label {
            color: #787878;
            font-size: 13px;
            font-weight: 100;
            position: absolute;
            pointer-events: none;
            left: 7.5%;
            top: 18%;
            transition: 0.2s ease-in-out all;
            -moz-transition: 0.2s ease-in-out all;
            -webkit-transition: 0.2s ease-in-out all;
        }
        .downArrow, .success, .error {
			float: right;
			position: relative;
			z-index: 2;
			margin-right: 30px;
			font-size: 26px;
			margin-top: -41px;
        }
        .dropDownList {
            width: 95%;
            position: absolute;
            top: 100%;
            left: 23px;        
			z-index: 1000;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			li:hover{
				color: #ffffff;
				background-color: #000000;
			}
        }
        .form {
            width: 60%;
            top: 1%;
            height: auto;
            margin: auto;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
    
            li {
                padding: 8px;
            }
        }
        .form-check {

			.form-check-label {
				font-size: 12px;
                color:rgba(120, 120, 120, 0.74);
                width: 100%;
			}

            li {
                padding: 8px;
            }

			input[type="checkbox"] {
				margin-top: 3px;
		    width: auto!important;
		    border-radius: unset;
			}

			a {
				font-size: 11px;
			}
        }
        .center-block{
            padding: 20px;
        }
        .widthCorrection{
            padding-left: 0;
        }
        .submitBtn{
            padding: 5px 15px;
            text-align: center;
            letter-spacing: .5px;
            width: 50%;
            min-width: 300px;
            height: 55px;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #dadada;
            font-size: 14px;
            margin: 0 auto;
        }
        
        .DisableBtn{
            background: rgb(179,179,179);
        }
        .EnableBtn{
            background: rgb(3, 3, 3);
        }
        .networkApplyForm {
            width: 70%;
            margin: 0 auto;
        }
    }
    .passwordShow{
        float: right;
        position: relative;
        z-index: 2;
        margin-right: 8px;
        font-size: 11px;
        margin-top: -33px;
        color: rgba(0, 123, 255, 0.8);
    }
    * {
        box-sizing: border-box;
      }
      
      body, html {
        background-color: #f6f9fc;
        font-size: 18px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      }
      
      h2 {
        font-weight: 400;
        line-height: 50px;
        font-size: 30px;
        margin: 20px 0;
        padding: 0;
      }
      
      .Checkout {
        margin: 0 auto;
        max-width: 800px;
        box-sizing: border-box;
        padding: 0 5px;
      }
      
      label {
        color: #6b7c93;
        font-weight: 300;
        letter-spacing: 0.025em;
      }
      
      button {
        white-space: nowrap;
        border: 0;
        outline: 0;
        display: inline-block;
        height: 45px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.025em;
        background-color: #022d5d;
        text-decoration: none;
        border-radius: 4px;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
        margin-top: -45px;
        margin-left: 230px;
        position: absolute;
      }
      
      form {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 3px solid #e6ebf1;
      }
      
      button:hover {
        color: #fff;
        cursor: pointer;
        background-color: #000;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
      }
      
      .StripeElement {
        display: block;
        max-width: 500px;
        padding: 14px;
        box-shadow: 0 1px 3px rgba(50,50,93,.14902), 0 1px 0 rgba(0,0,0,.0196078);
        background: #fff;
        border: 1px solid #e9ecef;
        height: 45px;
      }
      
      .StripeElement--focus {
        box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
      }
      
      .StripeElement.PaymentRequestButton {
        padding: 0;
      }
  }
