@import "../../styles/_common";
.field{
    padding: 0;
}
field-label{
    left: 2.5%;
}
.noErrorField{
    padding-left: 2.5%;
}
.next{
    margin-right: 4px !important;
}

.getStarted {
    color: #fff;
    width: 28% !important;
    font-size: 18px;
    height: 58px;
    border-radius: 4px;
    margin: 15px;
}
.previous{
    margin-left: auto;
}