@import "../../styles/_common";

.ModalWrap{
    width: 90% !important;
}
.subHeading{
    font-size: 20px;
}
.MainContent{
    width: 575px !important;
    p{
        padding: 0px !important;
    }
}
.field{
    padding: 0;
}
field-label{
    left: 2.5%;
}
.noErrorField{
    padding-left: 2.5%;
}
h3{
    font-size: 24px;
}
.next {
    margin-left: 25px;
}
.cateGory {
    height: auto;
    float: left;
    width: auto;
    height: 7vh;
    cursor: pointer;
    padding-right: 10px;
    .cartBorder{
        border-bottom: 3px solid #fff;
    }
    .catSelected{
        border-bottom: 3px solid #0091f8;
    }
}
.cateGory:hover{
    h3{
        border-bottom: 3px solid #fff;
    }
}
.AllCateGory {
    .wrapper{
        height: auto;
        overflow: auto;
        width: 100%;
        padding-bottom: 1%;
    }
    .subCateGory {
        height: auto;
        .flexFlow {
            width: 100%;
            float: left;
            height: 45vh;
            overflow: auto;
        }
        .subWrapper{
            padding: 1%;
            .subCategory {
                width: 15%;
                margin: auto;
                background: #fff;
                margin-left: 1%;
                float: left;
                margin-bottom: 5px;
                color: #000;
                text-align: center;
                padding: 3%;
            }
            .selected{
                background-color: #0091f8;
                color: #fff;
            }
        }
    }  
}

