@import "../../styles/_common";
.field{
    padding: 0;
}
field-label{
    left: 2.5%;
}
.noErrorField{
    padding-left: 2.5%;
}
h3{
    font-size: 24px;
}
.next {
    margin-left: 25px;
}
.cateGory {
    height: auto;
    float: left;
    width: auto;
    height: 7vh;
    padding: 10px;
    padding-top: 14px;
}
.cateGory:hover{
    background: #000000;
}
.AllCateGory {
    max-height: auto;
    .wrapper{
        height: auto;
        overflow: auto;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .subCateGory {
        height: auto;
        .flexFlow {
            width: 100%;
            float: left;
        }
        .subWrapper{
            widows: 100%;
            .subCategory {
                height: 120px;
                width: 229px;
                background: #fff;
                margin-right: 10px;
                float: left;
                margin-bottom: 10px;
                color: #000;
                text-align: center;
                padding: 5%;
            }
        }
    }
    
}

