@import "../../styles/_common";

.appHeader {
  position: absolute;
  width: 100%;
  height: 80px;
  top:0;
  background-color: $qzt_wht;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -10;
  .appNavigator{
    width:100%;
    height:auto;
    font-size:30px;
    .wrapper{
      .leftWrapper{
        width:50%;
        float: left;
      }
      .rightWrapper{
        width:50%;
        float: right;
        text-align: right
      }
      .btnPrimary{
        height: 55px;
        width: 130px;
        border-radius: 0;
      }
    }
  }
}
