@import "../../styles/_common";

.appHeader {
  position: absolute;
  width: 100%;
  height: 80px;
  top:0;
  background-color: $qzt_wht;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -10;
  .appNavigator{
    width:100%;
    height:auto;
    font-size:30px;
    .wrapper{
      .leftWrapper{
        width:50%;
        float: left;
        height: 80px;
        .headerLogo{
          margin-right: 10px;
          margin-left: 40px;
          height: 38px;
        }
        .logoWrap{
          display: flex;
          padding: 30px;
        }
        h1{
          font-size: 30px;
          font-weight: bold;
          color: rgb(129, 129, 130);
        }
      }
      .rightWrapper{
        width:50%;
        float: right;
        text-align: right
      }
      i.fa.fa-user-circle-o {
          font-size: 42px;
          margin-top: 22px;
          color: #868e96;
      }
      button.userName {
        font-size: 26px;
        margin-left: 15px;
        margin-right: 20px;
        position: relative;
        bottom: 10px;
        outline: none;
        color: #5b5b5f;
      }
      .button:focus {
        outline: none;
      }

      a#SignIn {
          font-size: 22px;
          margin-right: 20px;
          text-decoration: none;
          cursor: pointer;
      }
      .btnPrimary{
        height: 80px;
        width: 130px;
        border-radius: 0;
        background-color: #0091f8;
        cursor: pointer;
      }
    }
  }
}
