@import "../../styles/_common";

.appBackground {
	position: absolute;
	width: 100vw;
	height: 88vh;
	background-color: $qzt_wht;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-y: auto;
	z-index: -10;
	top: 80px;
	color: #818182;


	.read-more-state {
		display: none;
	  }

	  .read-more-target {
		opacity: 0;
		max-height: 0;
		font-size: 0;
		transition: .25s ease;
	  }

	  .read-more-state:checked ~ .read-more-wrap .read-more-target {
		opacity: 1;
		font-size: inherit;
		max-height: 999em;
	  }

	  .read-more-state ~ .read-more-trigger:after {
		content: 'Show more';
	  }

	  .read-more-state:checked ~ .read-more-trigger:after {
		content: 'Show less';
	  }

	  .read-more-trigger {
		cursor: pointer;
		display: inline-block;
		padding: 0 .5em;
		color: #0091f8!important;
		font-weight: 600;
		text-transform: uppercase;
	  }
	  .read-more-wrap {
		font-size: 14px;
	  }


	.editcolor{
		color: #0091f8!important;
		font-weight: 600;
		text-transform: uppercase;
	}
	.profilePictureImage{
		background:#ccc;
		padding:110px 0;
	}
	.editSpan{
		left: 50%;
		top: 50%;
		position: absolute;
		margin-top: -20px;
		margin-left: -20px;
	}
	h2{
		font-family: 'Avenir-Light', sans-serif, Arial;
		font-weight: 600;
		font-size: 16px;
		color: #818182;
		padding-bottom: 20px;
	}
	h3{
		font-family: 'Avenir-Light', sans-serif, Arial;
		font-size: 16px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	h4{
		font-size: 15px;
		font-weight: 600;
	}
	.interest-box{
		border: 2px solid #ccc;
		text-align: center;
		padding: 8px;
		font-size:14px;
		margin-bottom:10px;
	}
	.companylogo
	{
		background: hsla(0,0%,89%,.71);
		text-align: center;
		padding: 50px;
	}
	.expname {
		padding-bottom: 20px;
		font-size: 14px;
	}
	.edit-desc{
		font-size: 14px;
	}
	.desc-block{
		margin-top:15px;
	}
	.hrline{
		border-bottom: 2px solid hsla(0,0%,89%,.71);
		margin: 15px 0;
	}
	.clearfix {
		clear:both;
	}
	.userName {
		font-size: 20px;
		font-weight: bold;
	}
	.def-padd{
		padding-top:20px;
	}
	.userProfile{
		width: 70%;
		left: 0;
		background: #fff;
		.profileWrapper{
			height: auto;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.userProfileWrapper {
			height: auto;
			.logo{
				height: 300px;
				width: 60%;
				float: left;
			}
			.profilePicture{
				height: 300px;
				width: 40%;
				float: right;
				cursor: pointer;
				.editSpan {
					position: relative;
					left: 44%;
					font-size: 30px !important;
					font-weight: bold;
					color: #0091f8;
					visibility: hidden;
				}
			}
			.profilePicture:hover{
				.editSpan {
					visibility: visible;
				}
			}
		}
		.workExperiance {
			margin-left: 4%;
			margin-top: 2%;
			border-bottom: 2px solid rgba(227, 227, 227, 0.71)
		}
		.userPersonalInfo {
			display: grid;
			padding: 1%;
		}
		.userName {
			font-size: 24px;
			margin-bottom: 0;
			color: rgba(70, 74, 78, 0.79);;
		}
		.experiance {
			font-size: 17px !important;
		}
		.addMore{
			color: #0091f8;
			padding-top: 8px;
		}
		.subHeader{
			font-size: 22px;
		}
		span{
			font-size: 14px;
		}
		.subCategoryDec {
			float: left;
			border: 1px solid #ccc;
			margin-right: 10px;
			padding: 5px;
			border-radius: 5px;
		}
		.subCategory {
			display: flex;
		}
		i.fa.fa-pencil {
			color: #0091f8;
			cursor: pointer;
		}
	}
}
